div {
    margin:20px;
    padding:20px;
    width:400px;
    border:solid 1px black;
    box-shadow:5px 5px 10px #888888;
}

h3 {
    margin:0px;
    padding:0px;
    border-color:green;
    background-color:green;
    color:white;
    text-align:center;
}