ul {
    line-height:150%;
    font-size:14px;
}
input {
    height:13px;
}
li {
    list-style-type: none;
}
.main-form {
    border-top:solid 1px gray;
    border-bottom: solid 1px gray;
}
.action-form {
    padding:20px;
}
.action-form input {
    height:30px;
}
textarea {
    width:300px;
    height:100px;
}