ul {
    background-color: green;
    width:380px;
    height:30px;
}
li {
    list-style-type: none;
    text-align: center;
    display:inline;
    color:white;
}
a {
    color:white;
    text-decoration: none;
    background-color: green;
}
a:visited, a:active, a:link {
    text-decoration: none;
    color:white;  
}
a:hover {
    background-color:orange;
}