div {
    font-size:17px;
    font-weight: 100rem;
    text-align: center;
    background-color: yellow;
    border:solid 1px black;
    width:100px;
    height:100px;
}
.b {
    position: absolute;
    left: 80px;
    top: 80px;
}